@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authentication.Cookies;
@model ModelMensajes

@{
    ViewData["Title"] = "VerMensajeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded">
        <div class="card-header bg-primary text-white text-center">
            <h3 class="mb-0">ASUNTO: @Model.MensajeTelefono</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label fw-bold">Fecha y Hora:</label>
                    <input asp-for="MensajeFecha" type="datetime" class="form-control" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold">Nombre:</label>
                    <input asp-for="MensajeNombre" type="text" class="form-control" readonly>
                </div>                
                <div class="col-md-4">
                    <label class="form-label fw-bold">Correo Electrónico:</label>
                    <input asp-for="MensajeMail" type="text" class="form-control" readonly>
                </div>
                <div>
                    <br />
                </div>
                <div class="col-md-12">
                    <label class="form-label fw-bold">Mensaje:</label>
                    <p class="form-control bg-light rounded border p-3" readonly>
                        @Model.MensajeMensaje
                    </p>
                </div>
            </div>
            <div class="text-center">
                <a asp-action="ListarMensajesView" asp-controller="Mensajes" class="btn btn-secondary me-2">Volver</a>               
            </div>
        </div>
    </div>
</div>


